<div class="row justify-content-center align-items-center bg-naranja cuerpo">
  <div class="col-11 col-md-6 mt-3 mb-3 py-3 rounded bg-offWhite text-gris">
    <h2 class="text-center mb-4">MIS ORLAS</h2>
      <div class="bg-white p-2 rounded">
        <table class="table table-sm align-middle">
          <thead>
            <tr>
              <th scope="col" width="25%" class="text-center">Nombre</th>
              <th scope="col" width="10%" class="text-center">Fecha</th>
              <th scope="col" width="20%" class="text-center">Curso</th>
              <th scope="col" width="10%" class="text-center">Acciones</th>
            </tr>
          </thead>
          <tbody>
          @for (o of getOrlas(); track o.id) {
            <tr>
              <!-- NOMBRE DE LA ORLA -->
              <td scope="col" class="text-start">
                {{o.name}}
              </td>
              <!-- FECHA DE LA ORLA -->
              <td scope="col" class="text-center">
                {{o.date}}
              </td>
              <!-- CURSO DE LA ORLA -->
              <td scope="col" class="text-center">
                {{o.curso}}
              </td>
              <!-- BOTONES BORRAR Y DESCARGAR -->
              <td scope="col" class="text-center">
                <app-orla-actions></app-orla-actions>
              </td>
            </tr>
          }
          </tbody>
        </table>
      </div>
    </div>    
</div>
