<div class="row bg-info text-light">
    <div class="row" id="footer-content">
      <div class="col-12 col-md-3">
        <img src="assets/img/fotoorla_logo.png" alt="fotoorla logo" width="80%">
      </div>
      <div class="col-12 col-md-3">
        <h2>SERVICIOS</h2>
        <ul>
          <li>Servicio 1</li>
          <li>Servicio 2</li>
          <li>Servicio 3</li>
        </ul>
      </div>
      <div class="col-12 col-md-3">
        <h2>INFO</h2>
        <ul>
          <li>Info 1</li>
          <li>Info 2</li>
          <li>Info 3</li>
        </ul>
      </div>
      <div class="col-12 col-md-3">
        <h2>SÍGUENOS EN</h2>
        <ul>
          <li><a href="https://es-es.facebook.com">Facebook</a></li>
          <li><a href="https://www.instagram.com">Instagram</a></li>
          <li><a href="https://x.com/">X</a></li>
        </ul>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col text-center" id="atribution">
        <p xmlns:cc="http://creativecommons.org/ns#" >This work is licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">Creative Commons Attribution-ShareAlike 4.0 International<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt=""><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt=""><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1" alt=""></a></p> 
      </div>
    </div>
    
</div>