<div id="cursos">
    <div class="row">
        <h2>Mis cursos</h2>
        <h3>Cursos y alumnos</h3>
    </div>
    <div class="row align-items-center">
        <app-crear-curso></app-crear-curso>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <app-lista-cursos></app-lista-cursos>
        </div>
        <div class="col-md-4">
            <app-lista-alumnos></app-lista-alumnos>
        </div>
    </div>
    <div class="row">
        <h3>Profesores</h3>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <app-lista-profesores></app-lista-profesores>
        </div>       
    </div>
</div>
