.orla {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Alinear las líneas al principio de la orla */
  align-items: center;
  padding: 20px;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 1780px; 
  box-sizing: border-box;
}

.orla-row {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples líneas */
  justify-content: center;
  margin-bottom: 20px;
  margin-right: 100px;
  margin-left: 100px;
}

.orla-item {
  margin: 0 10px; /* Ajusta el margen entre las personas */
  text-align: center;
}

.orla-item {
  margin: 0 10px; 
  text-align: center;
}

.orla-item.profesor {
  margin-top: 240px; /* Ajusta el margen-top solo para profesores */
  margin-bottom: 100px;
}

.orla-item.alumno {
  margin-top: 10px; /* Ajusta el margen-top para alumnos */
}

.orla-item img {
  max-width: 100px;
  border-radius: 50%;
}
