.orla {
  width: 1654px; /* Ancho de A3 en landscape */
  height: 1169px; /* Alto de A3 en landscape */
  background-size: cover; /* Asegura que la imagen de fondo cubra todo el contenedor */
  background-position: center; /* Centra la imagen de fondo */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  box-sizing: border-box;
}

.orla-row {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples líneas */
  justify-content: center;
  margin-bottom: 20px;
  margin-right: 100px;
  margin-left: 100px;
}

.orla-item {
  margin: 0 10px; /* Ajusta el margen entre las personas */
  text-align: center;
}

.orla-item {
  margin: 0 10px; 
  text-align: center;
}

.orla-wrapper {
  width: 100%;
  overflow-x: auto;
}

.orla-item.profesor {
  margin-top: 50px; /* Ajusta el margen-top solo para profesores */
  margin-bottom: 50px;
}

.orla-item.alumno {
  margin-top: 10px; /* Ajusta el margen-top para alumnos */
}

.orla-item img {
  max-width: 100px;
  border-radius: 50%;
}

.nombre-instituto{
  margin-top: 40px;
  font-size: 30px;
}

.fondo-item:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.selected {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

div.list-group{
  max-height: 200px;
  overflow-y: scroll;
}

#fondosOrla{
  max-height: 300px;
  overflow-y: scroll;
}
