<div class="row">
    <nav class="navbar navbar-expand-lg navbar-light bg-light align-content-end">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">PRECIO</a><!-- Te mueve hasta la lista de precios/servicios -->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contacto">CONTACTO</a><!-- Te mueve hasta el formulario de contacto -->
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/mis_orlas']" routerLinkActive="router-link-active"  class="nav-link">MIS ORLAS</a><!-- PRIVADO -->
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/mis_cursos']" routerLinkActive="router-link-active"  class="nav-link">MIS CURSOS</a><!-- PRIVADO -->
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/crear_orla']" routerLinkActive="router-link-active"  class="nav-link">CREAR ORLA</a><!-- PRIVADO -->
                    </li>
                    <!-- <li class="nav-item">
                        <a [routerLink]="['/crear_curso']" routerLinkActive="router-link-active"  class="nav-link">AÑADIR CURSO</a>
                    </li> -->
                    <li class="nav-item">
                        <a [routerLink]="['/crear_persona']" class="nav-link">AÑADIR ALUMNOS/PROFESORES</a><!-- PRIVADO -->
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/login']" routerLinkActive="router-link-active" class="nav-link">ACCESO</a> <!-- Te mueve hasta el formulario de log in | desaparece del nav.bar al logearse -->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">CERRAR SESIÓN</a> 
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>